<div class="table-container">
  <app-filter-terminal
    [filterParams]="filterForm.value"
    (filter)="onFilter($event)"
    (add)="onAdd($event)"
  ></app-filter-terminal>

  <h2 class="table-title">Sucursales</h2>

  <app-data-table
    [columns]="columns"
    [data]="allData"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25]"
    [rowActions]="rowActions"
    (action)="handleAction($event)"
    paginatorBarClass="pg-alt"
  >
    <ng-template dataTableCell="estado" let-row>
      <span [ngClass]="{ activo: row.estado === 'Activo', inactivo: row.estado === 'Inactivo' }">
        {{ row.estado }}
      </span>
    </ng-template>
  </app-data-table>
</div>
